@charset "UTF-8";
.menu-list{
  list-style: none; padding: 0; margin: 0;
  display: flex;
}
.menu-item{
  width: 100%; border: 3px solid black;
  background-color: bisque;
}
.menu-item+.menu-item{
  border-left: 0;
}
.menu-link{
  display: block; text-align: center;
  font-size: 30px; line-height: 50px; text-decoration: none;
  color: dimgray;
}
.menu-item:hover .menu-link{
  background-color: lightsteelblue;
}

.footer-list{
  position: flex; bottom: 0;
}