@charset "utf-8";
*{ padding: 0; margin: 0;
	font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif
}
a{ text-decoration: none; color: #101010;}


body{ min-width: 1340px;}
ul,ol{ list-style: none;} /*마커제거*/
html{ font-size: 10.5px; line-height: 10.5px;
			color: #101010; letter-spacing: -.4px;} /* font는 rem단위 설정위함*/

/* 헤더 영역(검색창, 메뉴) */
header{
	width: 1280px; height: 156px;
	margin: 0 auto; /* 박스 가운데 정렬 */
	position: relative;
	padding: 64px 0 42px;
}


/* 왼쪽 상단 햄버거 메뉴 */
#ham_menu{
	position: absolute; top: 18px; left: -10px;
}
#ham_menu .btn-ham{
	/* cusor:pointer (마우스 올리면 손 모양) outline: 클릭하면 테두리*/
	padding: 10px; cursor: pointer;
	background-color: transparent; border: 0; outline: 0;
}
#ham_menu .btn-ham::after{
	content: ''; display: block; background-image: url(../img/naver_icon.png);
	background-size: 422px 405px; /* 원래 이미지 사이즈는 844px 810px*/
	background-position: -335px -284px;
	width: 26px; height: 26px;
	/* hover했을 때 회색 타원 아래로 햄버거 메뉴가 깔리는데
	 그 문제를 해결하기 위해 position : relative 사용
	*/
	position: relative;
}
/*hover하면 원 배경이 생기는 스타일*/
#ham_menu .btn-ham:hover:before{
	content: ''; display: block; position: absolute; top: 1px; left: 1px;
	width: 44px; height: 44px;	border-radius: 50%;
	background-color: #f5f7f8;
}


/* 검색창 영역 */
#box_search{
	width: 706px; position: absolute;
	/* 좌우 가운데 정렬 */
	left: 50%; transform: translateX(-50%);
	border: 1px solid #03c75a; /* 네이버 기본 검색창 테두리 색, 특별한 날마다 다를 수 있음 */
	border-radius: 33px; top: 64px;
}

#box_search .box-logo{
	float: left; width: 80px;
}
#box_search .box-logo .link-logo{
	display: block; padding-left: 10px; margin-right: 12px;
}
#box_search .box-logo .link-logo>.img-link-logo{
	width: 58px; height: 58px; display: block;
}
#box_search .box-search-input{
	float: right;	width: 623px;
}

/* 검색창 */
#box_search .box-search-input .input-search{
	padding: 17px 0; width: 480px; height: 58px; float: left;
	border: 0; outline: 0;
	box-sizing: border-box;
	font-weight: bold; line-height: 24px; font-size: 24px; color: #000; 
}
#box_search .box-search-input .input-search::placeholder{
	color: beige;
}

/* 검색 버튼 */
#box_search .box-search-input .btn-search{
	padding: 17px 27px 16px 10px; cursor: pointer;
	position: absolute; top: 0; right: 0;
	border: 0; outline: 0; background-color: transparent;
}
#box_search .box-search-input .btn-search .icon-search{
	background-color: #a3691b; display: block;
}
#box_search .box-search-input .btn-search .icon-search::before{
	background-image: url(../img/naver_icon.png);
	background-size: 422px 405px;
	background-position: -364px -106px;
	width: 25px; height: 25px; content: ''; display: block;
}

/*가상 키보드와 자동완성버튼*/
#box_search .box-btns{
	position: absolute; top: 0; right: 61px; bottom: 0;
	width: 56px; 
}
#box_search .box-btns .btn-kbd{
	padding: 21px 3px; cursor: pointer; border: 0; outline: 0;
	background-color: transparent;
}
#box_search .box-btns .btn-kbd::before{
	background-image: url(../img/naver_icon.png);
	background-size: 422px 405px;
	background-position: -50px -270px;
	width: 24px; height: 16px; content: ''; display: block;
}
#box_search .box-btns .btn-kbd:hover::before{
	background-position: -270px -234px;
}
#box_search .box-btns .btn-autocomplete{
	padding: 26px 6px; cursor: pointer; border: 0; outline: 0;
	background-color: transparent; position: absolute;
	right: 1px; top: 0;
}
#box_search .box-btns .btn-autocomplete::before{
	background-image: url(../img/naver_icon.png);
	background-size: 422px 405px;
	background-position: -412px -352px;
	width: 10px; height: 6px; content: ''; display: block;
}

#box_search:hover{
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .12);
}


/* 메뉴 영역 */
.shortcut-area{
	width: 676px; margin: 72px auto 0;
}

.shortcut-area>.shortcut-list>.shortcut-item{
	float: left;
}
.shortcut-area>.shortcut-list>.shortcut-item+.shortcut-item{
	margin-left: 4px;
}

.shortcut-area>.shortcut-list .link-service{
	position: relative; display: block; width: 64px;
}
.shortcut-area>.shortcut-list .link-service span{
	position: relative; display: block;
}
.shortcut-area>.shortcut-list .link-service .icon-service{
	width: 48px; height: 48px; margin: 0 auto;
}
.shortcut-area>.shortcut-list .link-service .icon-service::before{
	background-image: url(../img/naver_icon.png);
	background-size: 422px 405px;
	background-position: 0px -128px;
	width: 54px; height: 54px; content: ''; display: block;
	position: absolute; top: -2px; left: -3px;
}

.shortcut-area>.shortcut-list .link-service:hover .icon-service::before{
	background-position: -142px 0px;
	top: -3px; left: -5px; width: 58px; height: 58px;
}
/*메일~더보기까지 아이콘 설정*/
.shortcut-area>.shortcut-list .link-service .icon-service::after{
	background-image: url(../img/naver_icon.png);
	background-size: 422px 405px;
	width: 44px; height: 44px; content: ''; display: block;
	position: absolute; top: 0px; left: 0px; right: 0; bottom: 0;
	margin: auto;
}
/*메일~더보기까지 아이콘그림의 각각 위치*/
.shortcut-area>.shortcut-list .link-service .icon-service.mail::after{
	background-position: -250px -90px;
}
.shortcut-area>.shortcut-list .link-service .icon-service.cafe::after{
	background-position: -250px 0px;
}
.shortcut-area>.shortcut-list .link-service .icon-service.blog::after{
	background-position: -201px -98px;
}
.shortcut-area>.shortcut-list .link-service .icon-service.shopping::after{
	background-position: -90px -209px;
}
.shortcut-area>.shortcut-list .link-service .icon-service.news::after{
	background-position: 0px -209px;
}
.shortcut-area>.shortcut-list .link-service .icon-service.stock::after{
	background-position: -180px -209px;
}
.shortcut-area>.shortcut-list .link-service .icon-service.real::after{
	background-position: -45px -209px;
}
.shortcut-area>.shortcut-list .link-service .icon-service.map::after{
	background-position: -201px 0px; width: 48px; height: 48px;
}
.shortcut-area>.shortcut-list .link-service .icon-service.webtoon::after{
	background-position: -225px -209px;
}
.shortcut-area>.shortcut-list .link-service .icon-service.type-more::after{
	background-position: -250px -135px;
}
/*검색창 밑 아이콘들 아래 글자*/
.shortcut-area>.shortcut-list .link-service .name-service{
	font-size: 14px; line-height: 20px; margin-top: 7px;
	text-align: center; font-size: 1.4rem;
}

/* 우측 상단 네이버페이 */
.box-pay{
	position: absolute; top: 18px; right: 42px; width: 46px;
}
.box-pay .link-pay{
	padding: 10px 8px; cursor: pointer; display: block; /*<a>라서 block해야 <button>과 동일해짐*/
}
.box-pay .link-pay::after{
	background-image: url(../img/naver_icon.png);
	background-size: 422px 405px; content: ''; display: block;
	background-position: -31px -316px;
	width: 30px; height: 26px;
	/*hover시 배경원이 알림이미지 위에 가는 것을 방지*/
	position: relative;
}
/*hover하면 원 배경이 생기는 스타일*/
.box-notify .btn-notify:hover::before,
.box-pay .link-pay:hover::before{
	content: ''; display: block; position: absolute; top: 1px; left: 1px;
	width: 44px; height: 44px;	border-radius: 50%;
	background-color: #ebebeb;
}

/* 우측 상단 알림/혜택 */
.box-notify{
	position: absolute; top: 18px; right: -10px; width: 46px;
}
.box-notify .btn-notify{
	padding: 10px; cursor: pointer;
	/*버튼 기본속성 제거*/
	background-color: transparent; border: 0; outline: 0;
}
.box-notify .btn-notify::after{
	background-image: url(../img/naver_icon.png);
	background-size: 422px 405px; content: ''; display: block;
	background-position: -364px -27px;
	width: 26px; height: 26px;
	/*hover시 배경원이 알림이미지 위에 가는 것을 방지*/
	position: relative;
}

/* 컨텐츠 영역 */
#container{
	width: 1280px;
	margin: 0 auto; /*박스 가운데정렬*/
}

/* 컨텐츠 영역 공통 */
#container>.box-left>div,
#container>.box-right>div{
	box-shadow: 0 0 0 1px #e3e5e8, 0 1px 2px 0 rgba(0,0,0,.04);
	border-radius: 8px;
}

/* 왼쪽/오른쪽 2번째 박스부터 여백 추가 */
#container>.box-right>div+div,
#container>.box-left>div+div{
	margin-top: 16px;
}

/* 컨텐츠 왼쪽 영역 */
#container .box-left{
	float: left; width: 830px;
}
/* 1번째 왼쪽 컨텐츠(배너 광고) */
#container .box-left .box-banner{
	height: 130px;
}
#container .box-left .box-banner iframe{
	width: 100%; height: 130px;
	background-color: darksalmon; border-radius: 8px;
}

/* 2번째 왼쪽 컨텐츠(뉴스스탠드) */
#container .box-left .box-newsstand .box-newsstand-body{
	padding: 18px 20px;
}

#container .box-left .box-newsstand .box-newsstand-body .tab-list{
	font-size: 1.4rem; line-height: 1.7rem;
	letter-spacing: -.4px;
}
#container .box-left .box-newsstand .box-newsstand-body .tab-item{
	float: left; position: relative;
	font-size: 1.6rem; line-height: 23px;
	font-weight: 800;
}
#container .box-left .box-newsstand .box-newsstand-body .tab-item+.tab-item{
	padding-left: 26px; 
}
#container .box-left .box-newsstand .box-newsstand-body .tab-item+.tab-item::before{
	content: ''; display: block; position: absolute; 
	width: 1px; height: 15px;
	background-color: #d3d5d7; 
	transform: skew(-15deg); 
	top: 4px; left: 13px;
}
#container .box-left .box-newsstand .box-newsstand-body .tab-item .btn-press::before{
	content: ''; display: inline-block; 
	width: 4px; height: 4px;
	background-color: #d3d5d7; 
	border-radius: 50%; 
	margin: 9px 7px 0;
	vertical-align: top;
}

/*기본 글자색*/
#container .box-left .box-newsstand .box-newsstand-body .tab-item>a{
	color: rgba(8,8,8,.5);
}

/*누르면 진한색으로*/
#container .box-left .box-newsstand .box-newsstand-body .tab-item>a[aria-selected=true]{
	color: #080808;
}

/*뉴스스탠드/언론사편집에 마우스 대면 밑줄*/
#container .box-left .box-newsstand .box-newsstand-body .tab-item>a:hover{
	text-decoration: underline;
}

/*box-header-sub 박스 기본설정*/
#container .box-left .box-newsstand .box-header-sub{
	margin: 0 20px; padding: 12px 20px; background-color: #f5f7f8;
	border-radius: 4px; line-height: 26px; font-size: 1.4rem;
	letter-spacing: -.4px;
}

/*분야별 뉴스▼ 신문사:"기사제목"*/
#container .box-left .box-newsstand .box-header-sub .box-sub-left{
	float: left;
}

/* ▼ */
#container .box-left .box-newsstand .box-header-sub .box-sub-left .icon-triangle-down{
	background-image: url(../img/naver_icon.png);
	background-size: 422px 405px; display: inline-block;
	background-position: -412px -366px;
	width: 9px; height: 6px; 
	margin: 10px 0 0 5px; vertical-align: top;
}

#container .box-left .box-newsstand .box-header-sub .box-sub-left .box-news,
#container .box-left .box-newsstand .box-header-sub .box-sub-right .link-news-home{
	padding-left: 25px; position: relative;
}

/* ㅣ */
#container .box-left .box-newsstand .box-header-sub .box-sub-left .box-news::before,
#container .box-left .box-newsstand .box-header-sub .box-sub-right .link-news-home::before{
	content: ''; position: absolute; top: 7px; left: 12px; 
	width: 1px; height: 12px; background-color: #d3d5d7;
}

/* 가운데 점 */
#container .box-left .box-newsstand .box-header-sub .box-sub-left .btn-media::after{
	content: ''; display: inline-block; 
	width: 3px; height: 3px;
	background-color: hsl(210, 5%, 84%); 
	border-radius: 50%; 
	margin: 12px 6px 0;
	vertical-align: top;
}

#container .box-left .box-newsstand .box-header-sub .box-sub-left .link-news{
	display: block; max-width: 380px; 
	/* 말줄임... */
	overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
}

/* 2-2번째 왼쪽 컨텐츠 영역 중 오른쪽(뉴스스탠드ㅣ뉴스홈)*/
#container .box-left .box-newsstand .box-header-sub .box-sub-right{
	float: right; line-height: 26px;
}
#container .box-left .box-newsstand .box-header-sub .box-sub-right>a{
	display: inline-block;
}
#container .box-left .box-newsstand .box-header-sub .box-sub-right>a:last-child{
	font-weight: bold;
}

/*뉴스 여러개 목록 감추기*/
#container .box-left>.box-newsstand .box-header-sub .box-sub-left .news-list{
	height: 26px; overflow: hidden;
}

#container .box-left .page-container{
	padding: 10px 0 11px; 
	border-top: 1px solid #ebebeb;
}

/*2-3번째 왼쪽 컨텐츠 (신문사 목록)*/
#container .box-left>.box-newsstand .box-main{
	margin: 18px 20px 18px 20px; position: relative;
}
/*테두리*/
#container .box-left>.box-newsstand .box-main .list-contents{
	border: 1px solid #ebebeb; height: 222px; overflow: hidden;
	border-radius: 4px;
	/*형제 중에 포지션: absolute 있을때, 형제요소 위로 올려야 하는 경우엔 
	요소에 포지션: relative 추가하면 됨*/
	position: relative;
}

/*테두리 안*/
#container .box-left .box-newsstand .box-main .item-contents{
	width: 16.66%; height: 56px; float: left;
	/*hover시 구독/기사보기 나오는 기준점을 item-contents로 잡기*/
	position: relative;
}
/*신문사 로고이미지 정렬*/
#container .box-left .box-newsstand .box-main .link-contents{
	display: block; padding: 18px 0; text-align: center;
}

/*신문사 로고이미지 hover시 구독/기사보기 나오게*/
#container .box-left .box-newsstand .box-main .box-contents-hover{
	position: absolute; top: 0; right: 0; left: 0; bottom: 0;
	background-color: #2868f2;
	text-align: center;
	padding: 13px 0; display: none;
}

/*신문사 로고 hover시 안보이던 box-contents-hover(구독/기사보기창)로 변환하기*/
#container .box-left .box-newsstand .box-main .item-contents:hover .box-contents-hover{
	display: block;
}

/*구독/기사보기 버튼 기본설정*/
#container .box-left .box-newsstand .box-main .box-contents-hover .btn-subs,
#container .box-left .box-newsstand .box-main .box-contents-hover .link-news-view{
	font-size: 1.3rem; font-weight: 400; line-height: 30px; color: #fff;
	letter-spacing: -0.4px;
}
#container .box-left .box-newsstand .box-main .box-contents-hover .link-news-view::before{
	width: 1px; height: 12px; display: inline-block; content: '';
	margin: 9px 10px 0; background-color: rgba(255, 255, 255, 0.3);
	vertical-align: top;
}
/*구독/기사보기 중 하나 hover시 글씨 굵어짐*/
#container .box-left .box-newsstand .box-main .box-contents-hover a:hover{
	font-weight: bold; text-decoration: underline;
}


#container .box-left .box-newsstand .box-main .box-border{
	position: absolute; top: 0; left: 0; right: 0; bottom: 0;
}
/*가로줄(right)*/
#container .box-left .box-newsstand .box-main .box-border .border-to-right{
	position: absolute; left: 0; right: 0; z-index: 1;
	height: 1px;
	background-color: #ebebeb;
}
#container .box-left .box-newsstand .box-main .box-border .border-to-right:nth-of-type(1){
	top: 56px;
}
#container .box-left .box-newsstand .box-main .box-border .border-to-right:nth-of-type(2){
	top: 113px;
}
#container .box-left .box-newsstand .box-main .box-border .border-to-right:nth-of-type(3){
	top: 169px;
}

/*세로줄(bottom)*/
#container .box-left .box-newsstand .box-main .box-border .border-to-bottom{
	position: absolute; top: 0; bottom: 0; z-index: 1;
	width: 1px;
	background-color: #ebebeb;
}
#container .box-left .box-newsstand .box-main .box-border .border-to-bottom:nth-of-type(4){
	left: 132px;
}
#container .box-left .box-newsstand .box-main .box-border .border-to-bottom:nth-of-type(5){
	left: 263px;
}
#container .box-left .box-newsstand .box-main .box-border .border-to-bottom:nth-of-type(6){
	left: 395px;
}
#container .box-left .box-newsstand .box-main .box-border .border-to-bottom:nth-of-type(7){
	left: 526px;
}
#container .box-left .box-newsstand .box-main .box-border .border-to-bottom:nth-of-type(8){
	left: 657px;
}


/* 2-4번째 왼쪽 컨텐츠(언론사 더보기+이전/다음 버튼) */
#container .box-left .page-container{
	padding: 10px 0 11px; line-height: 0;
	border-top: 1px solid #ebebeb;
	text-align: center; position: relative;
}

#container .box-left .page-container .box-page{
	display: inline-block;
}

/*이전/다음 페이지 버튼*/
#container .box-left .page-container .box-page .btn-prev,
#container .box-left .page-container .box-page .btn-next{
	float: left; width: 36px; height: 36px; background-color: #fff;
	border: 1px solid #dadcdf; border-radius: 50%; cursor: pointer;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .06); position: relative;
}
/*버튼 안 < 과 > 모양넣기*/
#container .box-left .page-container .box-page .btn-prev::before,
#container .box-left .page-container .box-page .btn-next::before{
	position: absolute; top: 0; left: 0; right: 0; bottom: 0;
	display: block; content: '';
	width: 10px; height: 12px; margin: auto;
	background-image: url(../img/naver_icon.png);
	background-size: 422px 405px;
	background-position: -412px -39px;
	transform: rotate(180deg);
}
/*페이지 화살표 하나를 180도 돌림*/
#container .box-left .page-container .box-page .btn-next{
	transform: rotate(180deg);
}
/* <나 > 버튼 hover시 색 진해짐*/
#container .box-left .page-container .box-page>button:hover{
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .12);
	background-color: #fbfbfc;
}
#container .box-left .page-container .box-page>button:hover::before{
	background-position: -412px -26px;
}

/*언론사 더보기*/
#container .box-left .page-container .box-page .box-title{
	min-width: 156px; padding: 0 16px; color: #606060;
	font-size: 1.3rem; font-weight: 600;
	line-height: 35px; box-sizing: border-box;
}
/*언론사(파랑) / 더보기(회색) / 1(회색) / /4(연한회색)*/
#container .box-left .page-container .box-title .text-point{
	color: #3a67ea;
}
#container .box-left .page-container .box-title .text-more,
#container .box-left .page-container .box-title .page-current{
	color: #606060;
}
#container .box-left .page-container .box-title .page-max{
	color: rgba(96,96,96,.5);
}

/*리스트형/썸네일형*/
#container .box-left .page-container .box-btn{
	position: absolute; top: 0; right: 0; bottom: 0;
}

#container .box-left .page-container .box-btn>button{
	padding: 18px 20px 18px 9px; float: left;
	background-color: transparent; border: 0; outline: 0; cursor: pointer;
	
}
#container .box-left .page-container .box-btn>button::before{
	background-image: url(../img/naver_icon.png);
	background-size: 422px 405px;
	/* background-position: -191px -368px; */
	display: block; content: ''; width: 20px; height: 20px;
}

/*썸네일형*/
#container .box-left .page-container .box-btn .btn-thumb::before{
	background-position: -296px -368px;
}
#container .box-left .page-container .box-btn .btn-thumb:hover::before{
	background-position: -275px -368px;
}
#container .box-left .page-container .box-btn .btn-thumb[aria-checked]::before{
	background-position: -391px 0px;
}
#container .box-left .page-container .box-btn .btn-thumb[aria-checked]:hover::before{
	background-position: -359px -368px;
}
/*리스트형*/
#container .box-left .page-container .box-btn .btn-list{
	padding: 18px 9px 18px 20px;
}
#container .box-left .page-container .box-btn .btn-list::before{
	background-position: -107px -368px;
}
#container .box-left .page-container .box-btn .btn-list:hover::before{
	background-position: -86px -368px;
}
#container .box-left .page-container .box-btn .btn-list[aria-checked]::before{
	background-position: -191px -368px;
}
#container .box-left .page-container .box-btn .btn-list[aria-checked]:hover::before{
	background-position: -170px -368px;
}

/*3번째 왼쪽 컨텐츠(쇼핑박스)*/
#container .box-left .box-shopping{
	width: 830px; border-radius: 8px;
	box-sizing: border-box; opacity: 1;
	box-shadow: 0 0 0 1px #e3e5e8, 0 1px 2px 0 rgba(0, 0, 0, .04);
}

/*쇼핑~쇼핑라이브*/
#container .box-left .box-shopping .box-shopping-header{
	padding: 19px 20px 16px;
}

#container .box-left .box-shopping .box-shopping-header .header-list{
	font-size: 1.4rem; line-height: 1.7rem;
	letter-spacing: -.4px;
}
#container .box-left .box-shopping .box-shopping-header .header-item{
	position: relative; display: inline-block;
	font-size: 1.6rem; line-height: 23px;
	font-weight: 800;
}

/*글자 간격*/
#container .box-left .box-shopping .box-shopping-header .header-item+.header-item{
	padding-left: 26px;
}

/* / */
#container .box-left .box-shopping .box-shopping-header .header-item+.header-item::before{
	content: ''; display: block; position: absolute; top: 4px; left: 13px;
	width: 1px; height: 15px;
	background-color: #d3d5d7;
	transform: skew(-15deg);
}

/*기본 글자색*/
#container .box-left .box-shopping .box-shopping-header .header-item>a{
	color: rgba(8,8,8,.5);
}

/*누르면 진한색으로*/
#container .box-left .box-shopping .box-shopping-header .header-item>a[aria-selected=true]{
	color: #080808;
}

/*마우스 대면 밑줄*/
#container .box-left .box-shopping .box-shopping-header .header-item>a:hover{
	text-decoration: underline;
}

/*3-2번째 오늘의 혜택 위치*/
#container .box-left .box-shopping .box-shopping-body{
	margin: 0 20px; display: flex;
}
/*배경 회색박스*/
#container .box-left .box-shopping .box-shopping-body .today-list{
	width: 668px; height: 50px; border-radius: 4px; background-color: #f5f7f8;
	box-sizing: border-box; padding: 15px 20px 14px;
	line-height: 21px; font-weight: 700;
}

/*오늘의 혜택 폰트*/
#container .box-left .box-shopping .box-shopping-body .today-list .today-item{
	padding-right: 19px; font-weight: 700;
	position: relative; line-height: 21px; font-size: 1.4rem;
}

/*CJ온스타일 로고*/
#container .box-left .box-shopping .box-shopping-body .today-list .today-link .cj{
	min-width: 0; height: 13px; line-height: 13px; padding-top: 4px;
	font-weight: 700; font-size: 1.4rem;
	vertical-align: top; display: inline-block; cursor: pointer;
}

/*오늘 종료되는~하러가기!*/
#container .box-left .box-shopping .box-shopping-body .today-list .today-link{
	min-width: 0; font-size: 1.4rem; overflow: hidden;
	text-overflow: ellipsis; white-space: nowrap; font-weight: 500;
}
#container .box-left .box-shopping .box-shopping-body .today-list .today-link .text-link>em{
color: #9858f5; font-style: normal;
}
#container .box-left .box-shopping .box-shopping-body .today-list .today-link .text-link:hover{
	text-decoration: underline;
}

/*3-3번째 1/18 < > 전체상자*/
#container .box-left .box-shopping .box-shopping-body .today-pick{
	margin-left: auto; padding: 10px 0;
}
/* 1/18 */
#container .box-left .box-shopping .box-shopping-body .today-pick .today-page{
	display: inline-block; margin: 6px 9px 8px 0;
	line-height: 16px; font-size: 1.3rem; font-weight: 600;
	color: #606060; vertical-align: top;
}
/* /18을 연한색으로 */
#container .box-left .box-shopping .box-shopping-body .today-pick .today-page .page-max{
	color: rgba(113,113,113,.6);
}

/* <>버튼 */
#container .box-left .box-shopping .box-shopping-body .today-pick>button{
	width: 30px; height: 30px; display: inline-block;
	border: 1px solid rgba(211, 213, 215, .8); 
	vertical-align: top; background-color: transparent;
	position: relative; cursor: pointer;
	font-style: normal;
}

/*버튼 박스 모양 둥글게+붙이기*/
#container .box-left .box-shopping .box-shopping-body .today-pick .btn-prev{
	border-radius: 4px 0 0 4px;
}
#container .box-left .box-shopping .box-shopping-body .today-pick .btn-next{
	border-radius: 4px 0 0 4px;
	border-left: 0;
}

/* 버튼박스 안에 <> 화살표 위치 */
#container .box-left .box-shopping .box-shopping-body .today-pick .btn-prev .arrow-prev,
#container .box-left .box-shopping .box-shopping-body .today-pick .btn-next .arrow-next{
	position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto;
}

/* 버튼박스 안에 <> 화살표 넣기 */
#container .box-left .box-shopping .box-shopping-body .today-pick .btn-prev .arrow-prev::before{
	position: absolute; top: 50%; left: 50%; content: '';
	width: 5px; height: 5px; margin-left: 1px;
	border-left: 2px solid #80868c; border-bottom: 2px solid #80868c;
	transform: translate(-50%,-50%) rotate(45deg);
}
#container .box-left .box-shopping .box-shopping-body .today-pick .btn-next .arrow-next::before{
	position: absolute; top: 50%; left: 50%; content: '';
	width: 5px; height: 5px; margin-left: -1px;
	border-right: 2px solid #80868c; border-top: 2px solid #80868c;
	transform: translate(-50%,-50%) rotate(45deg);
}

/*3-3번째 중 왼쪽 쇼핑 썸네일 목록*/
#container .box-left .box-shopping .box-shopping-page{
	height: 394px; padding: 18px 20px 1px; box-sizing: border-box;
	display: flex;
}
#container .box-left .box-shopping .box-shopping-page .commerce-area{
	width: 520px; margin-right: 20px; position: relative;
}

/*썸네일 8개 가로로배치 */
#container .box-left .box-shopping .box-shopping-page .commerce-area .column-list .column-item{
	float: left; padding: 0 0 20px 20px;
}

/*썸네일 이미지 크기 조정*/
#container .box-left .box-shopping .box-shopping-page .commerce-area .column-list .column-item .column-link>img{
	width: 115px; height: 115px;
}

#container .box-left .box-shopping .box-shopping-page .commerce-area .column-list .column-item .column-link>img::after{
	content: ''; display: block;
	position: absolute; top: 0; left: 0; right: 0; bottom: 0;
	border: 1px solid rgba(0, 0, 0, .06); border-radius: inherit;
	background-color: rgba(0, 0, 0, .03);
	transform: translateZ(0); perspective: 1px;
}


#container .box-left .box-shopping .box-shopping-page .commerce-area .column-list .column-item .column-link>img{
	transition: transform .2s cubic-bezier(.165,.84,.44,1);
}
/*이미지 hover시 줌*/
#container .box-left .box-shopping .box-shopping-page .commerce-area .column-list .column-item .column-link>img:hover{
	transform: scale(1.03);
}

/*이미지 아래 텍스트링크*/
#container .box-left .box-shopping .box-shopping-page .commerce-area .column-list .column-item .column-link>div{
	overflow: hidden; display: block;
	line-height: 20px; letter-spacing: -.8px;
	white-space: nowrap; color: inherit; text-decoration: none; font-size: 1.4rem;
}
/*이미지와 글자 사이 간격*/
#container .box-left .box-shopping .box-shopping-page .commerce-area .column-list .column-item .column-link .column-text1{
	padding-top: 10px;
}

/*패딩 지정*/
#container .box-left .box-shopping .box-shopping-page .commerce-area .column-list .column-item:nth-child(4n+1){
	padding-left: 0;
}
#container .box-left .box-shopping .box-shopping-page .commerce-area .column-list .column-item:nth-child(n+5){
	padding-bottom: 24px;
}

/*3-3번째 중 오른쪽 퀵링크들 */
#container .box-left .box-shopping .box-shopping-page .column-view{
	width: 250px; height: 375px; flex: 1 1;
}


/*첫번째 쇼핑몰 링크목록 박스*/
#container .box-left .box-shopping .box-shopping-page .box-quick-mall{
	width: 250px; height: 90px;
}

/*박스에 패딩적용*/
#container .box-left .box-shopping .box-shopping-page .box-quick-mall .quick-mall{
	padding: 10px 12px 5px; border-radius: 4px;
	background: rgba(245, 248, 251, .6);
}

/*퀵링크 3줄 사이 간격*/
#container .box-left .box-shopping .box-shopping-page .quick-mall div{
	display: flex;
	padding-bottom: 5px;
	justify-content: space-between;
}

#container .box-left .box-shopping .box-shopping-page .quick-mall span{
	width: 3px; height: 3px; background-color: #d3d5d7;
	display: inline-block; margin: 9px 0 0;
	border-radius: 50%; vertical-align: top;
}

/*글씨 기본설정*/
#container .box-left .box-shopping .box-shopping-page .quick-mall a{
	color: #404040; font-size: 14px; line-height: 20px;
	text-decoration: none; 
}
/*스트롱처리 된 글씨는 진하게*/
#container .box-left .box-shopping .box-shopping-page .quick-mall strong{
	color: #101010; font-weight: bold;
}
/*링크에 hover하면 밑줄*/
#container .box-left .box-shopping .box-shopping-page .quick-mall a:hover{
	text-decoration: underline;
}


/*퀵링크 내페이지*/
#container .box-left .box-shopping .box-shopping-page .quick-my{
	margin-top: 11px; padding: 9px 9px 8px; position: relative;
	background: rgba(245, 248, 251, .6);
}
#container .box-left .box-shopping .box-shopping-page .quick-my::before{
	content: ''; position: absolute; top: 0; bottom: 0; left: 0; right: 0; 
	border: 1px solid rgba(0,0,0,.05); border-radius: inherit;
}
#container .box-left .box-shopping .box-shopping-page .quick-my .list-quick-menu{
	position: relative;
}
#container .box-left .box-shopping .box-shopping-page .quick-my .item-quick-menu{
	width: 25%;
}
#container .box-left .box-shopping .box-shopping-page .quick-my .link-quick-menu{
	display: block; text-align: center;
}

/*my쇼핑홈~장바구니 기본설정*/
#container .box-left .box-shopping .box-shopping-page .quick-my .img-quick-menu{
	width: 32px; height: 32px; line-height: 32px; display: inline-block; position: relative;
}
/*my쇼핑홈*/
#container .box-left .box-shopping .box-shopping-page .quick-my .item-quick-menu:nth-child(1) .img-quick-menu::before{
	width: 32px; height: 32px;
	content: ''; display: block;
	background-image: url(../img/naver_icon2.png);
	background-position: -34px 0; background-size: 122px 106px;
	position: absolute; top: 50%; left: 50%;
	transform: translate(-50%,-50%);
}
/*my홈*/
#container .box-left .box-shopping .box-shopping-page .quick-my .item-quick-menu:nth-child(2) .img-quick-menu::before{
	content: 'MY'; font-size: 1.2rem; background-image: none;
}

/*주문배송*/
#container .box-left .box-shopping .box-shopping-page .quick-my .item-quick-menu:nth-child(3) .img-quick-menu::before{
	width: 32px; height: 32px;
	content: ''; display: block;
	background-image: url(../img/naver_icon2.png);
	background-position: -34px -34px; background-size: 122px 106px;
	position: absolute; top: 50%; left: 50%;
	transform: translate(-50%,-50%);
}
/*장바구니*/
#container .box-left .box-shopping .box-shopping-page .quick-my .item-quick-menu:nth-child(4) .img-quick-menu::before{
	width: 17px; height: 16px;
	content: ''; display: block;
	background-image: url(../img/naver_icon2.png);
	background-position: -60px -68px; background-size: 122px 106px;
	position: absolute; top: 50%; left: 50%;
	transform: translate(-50%,-50%);
}

#container .box-left .box-shopping .box-shopping-page .quick-my .quick-my-list .text-quick-menu{
	margin-top: 4px; font-size: 14px; line-height: 20px;
	color: #404040;
}


/*퀵링크 광고배너*/
#container .box-left .box-shopping .box-shopping-page .quick-ad{
	display: block; margin-top: 11px;
}
#container .box-left .box-shopping .box-shopping-page .quick-ad .box-ad-img{
	width: 250px; height: 135px; overflow: hidden; display: block;
	position: relative; border-radius: 4px;
}
#container .box-left .box-shopping .box-shopping-page .quick-ad .box-ad-img::after{
	content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0;
	border: 1px solid rgba(0, 0, 0, .06);
	border-radius: inherit;
}
#container .box-left .box-shopping .box-shopping-page .quick-ad .box-ad-img>img{
	transition: transform .2s cubic-bezier(.165,.84,.44,1);
}
#container .box-left .box-shopping .box-shopping-page .quick-ad .box-ad-img:hover>img{
	transform: scale(1.03);
}
#container .box-left .box-shopping .box-shopping-page .quick-ad .text-ad{
	margin-top: 10px; line-height: 20px; text-align: center; overflow: hidden;
	white-space: nowrap; text-overflow: ellipsis; font-size: 1.4rem;
}

/*3-4번째 쇼핑아이템 더보기+양쪽버튼*/
#container .box-left .box-shopping .box-shopping-more{
	padding: 10px 0 11px; line-height: 34px; text-align: center;
	border-top: 1px solid #ebebeb;
}

/*쇼핑아이템 색*/
#container .box-left .page-container .box-shopping-page .box-title .text-point{
	color: #9858f5;
}


/* 컨텐츠 오른쪽 영역 */
#container .box-right{
	float: right; width: 420px;
}

/* 1번째 오른쪽 컨텐츠(로그인창) */
#container .box-right .box-account{
	box-shadow: 0 0 0 1px #e3e5e8, 0 1px 2px 0 rgba(0, 0, 0,.04);
	border-radius: 8px;
	padding: 21px 20px 18px;
	letter-spacing: -.4px;
	font-size: 1.4rem;
}
#container .box-right .box-account .box-title{
	text-align: center; line-height: 20px;
}
#container .box-right .box-account .link-login{
	display: block; margin-top: 13px; padding: 17px 0;
	line-height: 20px; text-align: center;
	border: 1px solid rgba(0, 0, 0, .06); border-radius: 4px;
	background-color: #03c75a;
	text-decoration: none; color: #fff; cursor: pointer;
}
#container .box-right .box-account .link-login .icon-login{
	background-image: url(../img/naver_icon.png);
	background-size: 422px 405px;
	background-position: -120px -166px;
	width: 72px; height: 14px; 
	margin: 3px 8px 0 0;
	vertical-align: top;
	/*로그인 글자와 나란히하며 크기 조정 필요하기 때문에 적용*/
	display: inline-block;
}
#container .box-right .box-account .link-login:hover{
	background-color: #17b75e;
}

#container .box-right .box-account .login-more{
	margin-top: 16px; font-size: 1.3rem; text-align: center; line-height: 20px;
}
#container .box-right .box-account .login-more>a{
	display: inline-block; color: #606060;
}
/*두번째 <a>부터 ㅣ 추가*/
#container .box-right .box-account .login-more>a+a::before{
content: ''; display: inline-block;
width: 1px; height: 12px; background-color: #d3d5d7;
margin: 4px 12px 0; vertical-align: top;
}


/* 푸터 영역 */
footer{
	min-width: 1280px; /* 최소 너비로, 브라우저가 작을때는 1280px, 클때는 100% */
	background-color: #f5f6f7;
}

/* 공통 */
fieldset{
	border: 0;
}
.blind{
	position: absolute; width: 1px; height: 1px; margin: -1px;
	overflow: hidden;
}
.clearfix::after{
	content: ''; clear: both; display: block;
}
.hover:hover{
	text-decoration: underline;
}
.float-left{
	float: left;
}
.float-right{
	float: right;
}
.position-relative{
	position: relative;
}