<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.study.dao.CommentDAO">
	<insert id="insertComment">
		insert into comment(co_me_id, co_bo_num, co_contents)
		value(#{comment.co_me_id},#{comment.co_bo_num},#{comment.co_contents})
	</insert>
	
	<!-- 댓글 조회 -->
	<select id="selectCommentList" resultType="kr.kh.study.vo.CommentVO">
		select
			* 
		from
			comment
		where
			co_bo_num = #{bo_num}
		order by co_num desc
		limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	<select id="selectCommentCount" resultType="int">
		select count(*) from comment where co_bo_num = #{bo_num}
	</select>
	
	<!-- 삭제위해 댓글 조회->삭제 -->
	<select id="selectComment" resultType="kr.kh.study.vo.CommentVO">
		select * from comment where co_num = #{co_num}
	</select>
	<delete id="deleteComment">
		delete from comment where co_num = #{co_num}
	</delete>
	
	<!-- 댓글 수정 -->
	<update id="updateComment">
		update comment
		set
			co_contents = #{comment.co_contents}
		where
			co_num = #{comment.co_num}
	</update>
</mapper>